* {
    margin: 0px;
    padding: 0px;
}

#container {
    width: 100%;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 50%;
    width: auto;
}